extends layout

block content
  h1= title
  p Welcome #{title}
  h1 Choose Payment Plan
  form(name="charging", action="/recurring/createPlan", method="post")
    input(type="checkbox",name="plan1", id="idPlan1")
    p days plan
    input(type="submit", value="create plan")
    br
    br
  form(name="charging", action="/recurring/createProduct", method="post")
    p Name
    input(type="text",name="productName", id="idProductName")
    p Desc
    input(type="text",name="productDesc", id="idProductDesc")
    br
    input(type="submit", value="create product")  
    
      
