extends layout

block content
  h1= title
  p Welcome #{title}
  h1 Choose Payment Plan
  form(name="charging", action="/recurring/createPlan", method="post")
    input(type="checkbox",name="plan1", id="idPlan1")
    p days plan
    input(type="submit", value="create plan")
    br
    br
  form(name="addProductForm", action="/shopify/createProduct", method="post")
    p Title
    input(type="text",name="title", id="idProductTitle")
    br
    input(type="submit", value="create product")  
    br
    br
  form(name="deleteProductForm", action="/shopify/deleteProduct", method="post")
    p Enter Id of Product u want to delete
    input(type="text",name="deleteId", id="idDeleteProduct")
    br
    input(type="submit", value="delete product")    
      
